.primary-button {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    height: 46px;
    width: 200px;
    border-radius: 4px;
    background-color: #5D6BF6;
    padding: 9px 57px 9px 58px;
    line-height: 28px;
    cursor: pointer;
  }