// @import "tag";
// @import "card";
// @import "link";

.company-card__title, .search__count > h2 {
    font-size: 24px;
    line-height: 30px;

    @media(max-width: 800px) {
        font-size: 18px;
        line-height: 23px;
    }
}

.company-card__title {
    @media(max-width: 800px) {
        font-size: 18px;
        line-height: 23px;
    }
}

.search__count > h2 {
    @media(max-width: 800px) {
        font-size: 16px;
        line-height: 20px;
    }
}

.companies-container {
    background-color: $ghost-white;
    width: 100%;
    min-width: 360px;
    margin: auto;

    .search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 16px;

        @include screen-up(screen-sm) {
            padding-bottom: 32px;
        }

        &__form {
            position: relative;
            color: #ABABC0;

            .search__field {
                display: none;

                @include screen-up(screen-sm)  {
                    display: block;
                    width: 262px;
                    opacity: 0.65;
                    outline: 0;
                    border-color: #E1E1EE;
                    border-width: 0 0 1px;
                    background: transparent;
                    font-size: 16px;
                    letter-spacing: 0;
                    line-height: 24px;
                    padding-bottom: 5px;
                    text-indent: 28px;
                }
            }

            svg {
                @include screen-up(screen-sm) {
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    left: 0;
                    bottom: 10px; 
               }
            }
        }

        img {
            width: 18px;
            height: 18px;
        }
    } 

    &__grid {
        width: 100%;    
        display: grid;
        grid-gap: 30px;
        justify-items: center;
        grid-template-columns: 1fr;

        @media(min-width: 600px) {
            grid-template-columns: 1fr 1fr;
        }

        @media(min-width: 800px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media(min-width: 1100px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}

.company-card {
    width: 100%;
    height: auto;
    border-radius: 4px;
    background-color: $white;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);
    position: relative;
    display: flex;
    flex-direction: column;

    img {
        object-fit: cover;
        width: 100%;
    }   

    .cover-image {
        display: none;
        height: 140px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        
        @include screen-up(screen-sm) {
            display: block;
        }
    }

    .company-info {
        padding-top: 24px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;

        @include screen-up(screen-sm) {
            padding-top: 32px;
            padding-bottom: 24px;
        }    

        &__text {
            padding-left: 16px;
            
            @include screen-up(screen-sm) {
                padding-left: 0px;
            }
        }

        .logo-image {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            border: 2px solid #EBEBEB;
            background-color: #FFFFFF;

            @include screen-up(screen-sm) {
                position: absolute;
                top: 96px;
                left: 24px;
            }
        }
    }
}