@import "media";

$primary-color: #14163A;
$primary-color-light: #5D6BF6;
$primary-color-dark: #0C0E2E;
$white: #FFFFFF;
$ghost-white: #F9FAFF;
$faux-cool-gray: #8487B0;
$black: #000000;

@font-face {
  font-family: GoogleSansRegular;
  src: url(/dist/fonts/Google-Sans-Fonts/GoogleSans-Regular.ttf);
}

@font-face {
  font-family: GoogleSansMedium;
  src: url(/dist/fonts/Google-Sans-Fonts/GoogleSans-Medium.ttf);
}

@font-face {
  font-family: GoogleSansBold;
  src: url(/dist/fonts/Google-Sans-Fonts/GoogleSans-Bold.ttf);
}

body {
  background-color: $primary-color;
  width: 100%;
  min-width: 360px;
  position: relative;
  z-index: 1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'GoogleSansRegular';
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: 1188px;
  margin: 0 auto;
  padding: 0 24px;
}


@function set-color($color) {
    @if (lightness($color) > 40) {
      @return $primary-color;
    }
    @else {
      @return $white;
    }
}