@import "media";

footer {
    width: 100%;
    min-width: 360px;
    height: 501px;
    background-color: $primary-color-dark;
    background-image: url(/dist/images/symbols/symbols.svg);
    background-repeat: no-repeat;
    background-position: right 10% center;
    position: relative;
    color: set-color($primary-color);


    @include screen-up(screen-sm) {
        
        height: 485px;
    }

    .footer-content {
        width: 100%;
        height: 100%;
        padding-top: 72px;
        display: flex;
        flex-direction: column;
        flex: 1;

        @include screen-up(screen-md) {
            padding-top: 120px;
        }

        .contact {
            margin-top: auto;
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 40px;

            @include screen-up(screen-md) {
                flex-direction: row-reverse;
            }

            :not(:last-child) {
                margin-bottom: 20px;
            }

            p {
                height: 20px;
                width: 269px;
                opacity: 0.4;
                color: #FFFFFF;
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 20px;
            }

            a {
                height: 20px;
                width: 62px;
                color: #FFFFFF;
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 20px;
            }
        }
    }

    h2 {   
        max-width: 640px;
        margin-bottom: 32px;
    }
}