// @import 'submenu';
// @import 'animations';

header {
    &.open {
        @media (max-width: 800px) {
            position: fixed;
            z-index: 1;
        }
    }
}

header {
    background-color: transparent;
    width: 100%;
    min-width: 360px;
    position: relative;

    &.close {
        .nav__menu {
            animation: fade-out 300ms ease-in-out forwards;  
        }
    }

    &.open {
        #firme, #nisu {
            @media(max-width: 800px) {
                fill: #313785;
            }
        }

        .nav__menu { 
            animation: fade-in 300ms ease-in-out forwards; 
        }
        
        .nav__container {
            @include screen-down(screen-sm) {
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 120px 24px;

                .nav__item {
                    font-size: 20px;
                    color: white;
                    letter-spacing: 0;
                    line-height: 25px;
                    margin: 0 0 16px 0;
                    padding: 0;
                    display: flex;
                    align-items: flex-start;
                }       
            }
        }
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media (max-width: 800px) {
        padding-top: 18px;
    }

    &__logo {
        width: 209px;
        height: 28px;

        @media (max-width: 800px) {
            width: 155px;
            height: 24px;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        color:#8487B0;
        font-weight: bold;


        @include screen-down(screen-sm) {
            display: none;
        }
    }

    &__item {
        margin-left: 32px;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 19px;
    }

    &__item-link {
        color: inherit;
        text-decoration: none;
        font-weight: bold;
    }
}

.hamburger {
    position: absolute; 
    right:24px;

    &.invisible {
        visibility: hidden;
    }

    &.visible {
        visibility: visible;
    }
}

#logo, #btnHamburger {
    z-index: 10;
}

.nav__item {
    padding: 0 0 16px 0;
    margin-top: 26px;

    &.active {
        color:white;

        .nav__item-link::after {
            width: 100%;
        }
    }

    &:hover {
        color: white;

        .nav__item-link:after {         
            transition: all ease-in-out .3s;
            width: 100%;
        }
    }
}

.nav__menu {
    position: relative;
    z-index: 1;

    &-hamburger {
        display: none;
        background-color: transparent;
        outline:none;
        border: none; 
        cursor: pointer;

        @include screen-down(screen-sm) {
            display: flex;
            align-items: center;
            width: 22px;
            height: 14px;
        } 
    }

    @include screen-up(screen-sm) {
        .nav__item-link:after {
            content: "";    
            background: none repeat scroll 0 0 $primary-color-light;
            display: block;
            height: 2px;
            margin-top: 8px;
            width: 0;
            transition: all ease-in-out .3s;
            transition-delay: .2s;
        }
    }
    
    @include screen-down(screen-sm) {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        
        z-index: 2;
        visibility: hidden;       
        overflow: auto;   
        background-color: $primary-color-light;      
    }       
}
