@import 'animations';
@import 'media';

.fix-header {
        position: fixed;
        z-index: 1;
    }

header {
    background-color: transparent;
    width: 100%;
    min-width: 320px;

    &.close {
        .nav__menu {
            animation: fade-out 300ms ease-in-out forwards;  
        }
    }


    &.open {

        .nav__menu { 
            animation: fade-in 300ms ease-in-out forwards; 
        }
        
        .nav__container {
            
            @include screen-down(screen-sm) {
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 120px 24px;

                .nav__item {
                    font-size: 20px;
                    color: white;
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 25px;
                    margin: 0 0 16px 0;
                    padding: 0;
                    display: flex;

                }
            }
        }

        .has-submenu {
            @include screen-down(screen-sm) {
                display: block;

                &__container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 16px;
                }

                .nav__item {
                    padding-bottom: 0;
                    margin-bottom: 0;
                }

                .submenu {
                    flex-direction: column;
                    padding-bottom: 24px;

                    :not(:last-child) {
                        padding-bottom: 16px;
                    }

                    &.spread {
                        display: flex;
                        animation: fade-in 300ms ease-in-out forwards; 
                    }

                    &.collapsed {
                        display: none; 
                    }
                }

                .submenu__item {
                    font-size: 16px;
                    color: white;
                    opacity: 0.65;
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 20px;
                    text-decoration: initial;
                    padding-left: 16px;
                    padding-right: 16px;
                }
            }
        }

    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 18px 0;


    &__container {
        display: flex;
        justify-content: space-between;
        color:#8487B0;
        font-weight: bold;


        @include screen-down(screen-sm) {
            display: none;
        }
    }

    &__item {
        margin-left: 32px;
        font-size: 17px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 21px;
        color: inherit;
        text-decoration: inherit;
    }

}

.hamburger {
    position: absolute; right:24px;

    &.invisible {
        visibility: hidden;
    }

    &.visible {
        visibility: visible;
    }
}

#logo, #btnHamburger {
    z-index: 10;
}

#btnHamburger {
    display: none;

    @include screen-down(screen-sm) {
        display: block;
        width: 22px;
        height: 22px;
    }
}


.nav__menu {

    .nav__item {
        display: inline-block;
        padding: 16px 0 8px 0;

        &.active {
            color:white;

            &:after {
                width: 100%;
            }
        }

        &:hover {
            color: white;
        }
    }


    @include screen-up(screen-sm) {

        .nav__item:after {
            transition: all ease-in-out .2s;
            background: none repeat scroll 0 0 $primary-color-light;
            content: "";
            display: block;
            height: 2px;
            margin-top: 8px;
            width: 0;
        }

        .nav__item:hover:after {

            width: 100%;
        }
    }
    
    

    @include screen-down(screen-sm) {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;

        height: 100%;
        z-index: 2;
        visibility: hidden;       
        overflow: auto;   
        background-color: $primary-color-light;      
    }       

    .has-submenu {
        display: none;
    }

}
