.link {
    color: $primary-color-light;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 18px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}