.page {
    cursor: pointer;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 64px;
    column-gap: 8px;
    font-family: 'Lato';
    font-weight: bold;

    .pagination-left, .pagination-right {
        height: 28px;
        width: 28px;
        margin-right: 16px;
        border-radius: 50%;
        border: 1px solid $primary-color-light;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: $primary-color-light;

            #leftPaginationArrow, #rightPaginationArrow {
                fill: white;
            }
        }
    }

    .page {
        height: 28px;
        width: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 17px;
        text-align: center;
        color: #5D6BF6;

        &.selected {
            color: $white;
            background-color: $primary-color-light;
            border-radius: 50%;
            border: 1px solid $primary-color-light;

            &:hover {
                background-color: #6976FF;
                border-color: #6976FF;
            }
        }
    }
}