// @import 'card';
// @import 'link';

.startup-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 12px;
    column-gap: 30px;

    @media(max-width: 800px) {
        grid-template-columns: 1fr 1fr;
    }

    @media(max-width: 600px) {
        grid-template-columns: 1fr;
    }
}

.startup-card {
    padding: 32px 24px 24px 24px;

    &__title {
        font-size: 24px;
        line-height: 30px;

        @media(max-width: 800px) {
            font-size: 18px;
            line-height: 23px;
        }
    }

    img {
        height: 40px;
        max-width: 50%;
        object-fit: contain;
        object-position: left;
        margin-bottom: 24px;
    }

    article {
        padding: 12px 0 32px 0px;
        font-size: 14px;
        line-height: 20px;
    }

    .company-links {
        width: 100%;
        display: flex;
        justify-content: space-between;

        a {
            cursor: pointer;
        }

        .link {
            line-height: 20px;
        }

        &__profile {
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
        }
    }
}