.has-submenu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sumbenu-arrow {
    display: none;

    @media(max-width: 800px) {
        display: block;
    }
}

.submenu-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open {
    .collapsed {
        @media(max-width: 800px) {
            display: none;
        }
    }

    .spread {
        @media(max-width: 800px) {
            display: flex;
            flex-direction: column;
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }
}

.submenu {
    z-index: 1;
    display: none;

    .submenu__item {
        font-size: 15px;
        letter-spacing: 0;
        line-height: 19px;
        color: $primary-color;
        text-decoration: none;
        font-weight: bold;

        &.active {
            color: $primary-color-light;
        }

        &:hover {
            color: $primary-color-light
        }

        @media(max-width: 800px) {  
            font-size: 16px;
            color: white;
            opacity: 0.65;
            letter-spacing: 0;
            line-height: 20px;
            text-decoration: initial;
            padding-left: 16px;
            padding-right: 16px;

            &:not(:first-child) {
                padding-top: 16px;  
            }     
        }
    }
}

.submenu__column {
    display: flex;
    flex-direction: column;
}

.nav__item:hover .submenu {
    @media (min-width: 800px) {
        border-radius: 4px;
        background-color: white;
        position: absolute;
        top: 67px;

        padding: 26px 8px 26px 8px;
        display: flex;
        justify-content: space-between;

        &__column {            
            margin-left: 24px;
            margin-right: 24px;
        }

        &__item {
            margin: 6px 0px 6px 0px;
        }
    }
}
