.tag-container {
    display: flex;
    flex-wrap: wrap;

    &.sm {
        padding-bottom: 24px;

        .tag {
            margin: 2px;
            padding: 4px 6px 4px 6px;
            font-size: 12px;
            line-height: 16px;
        }
    }

    &.md {
        padding-top: 32px;
        margin: -4px;

        .tag {
            margin: 4px;
            padding: 4px 6px 4px 6px;
            font-size: 14px;
            line-height: 18px;
        }
    }

    &.lg {
        margin: 0px -8px 0px -8px;
        padding-top: 24px;
        padding-bottom: 112px;

        .tag {
            margin: 12px 8px 12px 8px;
        }

        @media (max-width: 1100px) {
            margin: 0px -6px 0px -6px;
            padding-top: 26px;
            padding-bottom: 118px;

            .tag {
                margin: 8px 6px 8px 6px;
            }
        }

        @media (max-width: 600px) {
            margin: 0px -4px -6px 0px;
            padding-top: 28px;
            padding-bottom: 120px;

            .tag {
                margin: 6px 4px 6px 4px;
            }
        }
    }
}

.tag {
    text-decoration: none;
    font-family: 'GoogleSansBold';
    letter-spacing: 0;
    border-radius: 2px;

    &.lg {
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;

        @media (max-width: 1100px) {
            padding: 8px;
        }
    
        @media (max-width: 600px) {
            padding: 6px;
        }
    }

    &.dark {
        background-color: #303251;
        color: set-color(#303251);

        &:hover {
            background-color: lighten($color: #303251, $amount: 5.1);
        }
    }

    &.darker {
        background-color: #2B2D4E;
        color: set-color(#2B2D4E);

        &:hover {
            background-color: lighten($color: #2B2D4E, $amount: 5.1);
        }
    }

    &.light {
        background-color: #F4F5F9;
        color: #8B8B9F;

        &:hover {
            background-color: darken($color: #F4F5F9, $amount: 2.8);
        }
    }

    &.more-tags {
        cursor:default;
    }
}