@import 'config';
@import 'header2';
@import 'footer';
@import 'button';
@import 'pagination';
@import 'include-media';
@import 'media';

.hero {
    background-color: $primary-color;
    background-image: url(/dist/images/nis-fortress-ilustration/nis-ilustracija.svg);
   
    background-repeat: no-repeat;
    background-position: -10% calc(100% - 24px);
    width: 100%;
    min-width: 351px;
    height: 400px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    position: relative;
    color: set-color($primary-color);

    @media screen and (min-width: 860px) {

        background-image: url(/dist/images/nis-fortress-ilustration/nis-ilustracija.svg), url(/dist/images/nis-pattern-ilustration/nis-ilustracija-02.svg);
        background-position: 850px calc(100% - 24px), -330px calc(100% - 24px);
        background-repeat: no-repeat repeat-x;
        
    }

    &__text {
        width: 84%;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    @media screen and (min-width: 860px) {
        height: 478px;
    }

    // @media(max-width: 1180px) {
    //     background-image: url(/dist/images/nis-fortress-ilustration/nis-ilustracija.svg);
    //     background-repeat: no-repeat, no-repeat;
    //     background-position: center;
    // }

    // @media(max-width: 930px) {
    //     background-image: url(/dist/images/nis-pattern-ilustration/nis-ilustracija-02.svg);
    //     background-repeat: no-repeat, no-repeat;
    //     background-position: center;
    // }

    // @media(max-width: 640px) {
    //     background-image: url(/dist/images/nis-pattern-ilustration/nis-ilustracija-02.svg);
    //     background-repeat: no-repeat, no-repeat;
    //     background-position: 0;
    // }

    h1 {
        text-align: center;
    }

    span {
        color: $primary-color-light;
    }
}

main {
    background-color: $ghost-white;
    width: 100%;
    min-width: 351px;
    margin: auto;

    .search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 48px;
        padding-bottom: 16px;

        @media(min-width:860px) {
            padding-top: 72px;
            padding-bottom: 32px;
        }

        &__form {
            position: relative;
            color: #ABABC0;

            .search__field {
                width: 262px;
                opacity: 0.65;
                outline: 0;
                border-color: #E1E1EE;
                border-width: 0 0 1px;
                background: transparent;
                font-family: GoogleSansRegular;
                font-size: 16px;
                letter-spacing: 0;
                line-height: 24px;
                padding-bottom: 5px;
                text-indent: 28px;

                @media(max-width: 860px) {
                    display: none;
                }

            }

            svg {
                // width: 16px;
                // height: 16px;
                // position: absolute;
                // left: 0;
                // bottom: 10px;

               @media(min-width: 860px) {
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    left: 0;
                    bottom: 10px; 
               }
            }
        }

        // &__field {
        //     opacity: 0.65;
        //     outline: 0;
        //     border-width: 0 0 1px;
        //     background: transparent;
        //     font-family: GoogleSansRegular;
        //     font-size: 16px;
        //     letter-spacing: 0;
        //     line-height: 24px;
        //     color: #ABABC0;
        //     padding-bottom: 5px;
        // }

        &__count {

            @media (min-width: 860px) {
                font-size: 24px;
                line-height: 30px;
            }

            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 20px;
        }

        img {
            width: 18px;
            height: 18px;
        }
    } 

    .companies-container {
        width: 100%;    
        display: grid;
        grid-gap: 30px;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        // grid-template-rows: 1fr 1fr 1fr 1fr;

        @media(max-width: 1300px) {
            grid-template-columns: 1fr 1fr 1fr;
            //padding: 3rem 1rem;
        }

        @media(max-width: 900px) {
            grid-template-columns: 1fr 1fr;
            //padding: 3rem 1rem;
        }

        @media(max-width: 630px) {
            grid-template-columns: 1fr;
            //padding: 3rem 1rem;
        }
    }

    .company-card {

        @include breakpoint-down(small) {
            width: 100%;
            height: 178px;
        }

        height: 322px;
        //width: 262px;
        border-radius: 4px;
        background-color: $white;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);
        position: relative;
        display: flex;
        flex-direction: column;

        img {
            object-fit: cover;
            width: 100%;
        }

        .cover-image {
            height: 140px;
            //width: 262px;


            @include breakpoint-down(small) {
                display: none;
            }
        }

        .company-info {
            padding: 24px 24px 20px 24px;
            display: flex;
            align-items: center;

            @include breakpoint-up(medium) {
                padding: 32px 24px 24px 24px;
            }
            

            &__text {
                @include breakpoint-down(small) {
                    padding-left: 16px;
                }
            }

            .logo-image {
                height: 60px;
                width: 60px;
                border-radius: 50%;
                border: 2px solid #EBEBEB;
                background-color: #FFFFFF;

                @include breakpoint-up(medium) {
                    position: absolute;
                    top: 96px;
                    left: 24px;
                }
            }

            h4 {
                color: #14163A;
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 23px;

                @include breakpoint-up(medium) {
                    font-size: 24px;
                    line-height: 30px;
                }
            }

            a {
                color: $primary-color-light;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 18px;
                text-decoration: none;
            }
        }

        .tag-container {
            padding: 0px 23px 0px 24px;
            display: flex;
            flex-wrap: wrap;
            row-gap: 4px;
            column-gap: 4px;

            .tag  {
                padding: 4px 6px 3px 6px;
                height: 23px;
                background-color: #F4F5F9;
                border-radius: 2px;
                color: #8B8B9F;
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 16px;
            }
        }
    }
}

.coworking {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
    position: relative;
    max-height: 1200px;

    // @include breakpoint-up(medium) {
    //     padding-top: 0;
    //     padding-bottom: 0;
    // }
    
    @media(min-width: 1100px) {
        padding-top: 0;
        padding-bottom: 0;
    }

    @media(max-width: 1100px) {
        display: flex;
        flex-direction: column;
    }

    &__img {
        // position: absolute;
        // top: 165px;
        // right: 0;
        // z-index: 1;
        min-width: 300px;
        object-fit: contain; 
        max-width: 100%;
        height: auto;
        text-align: center;
        margin-top: 48px;

        @media(min-width: 1100px) {
            position: absolute;
            margin-top: 0 !important;
            top: 165px;
            right: 24px;
            z-index: 1;
        }

        // @include breakpoint-up(medium) {
        //     position: absolute;
        //     margin-top: 0 !important;
        //     top: 165px;
        //     right: 24px;
        //     z-index: 1;
        // }

        // @media(max-width: 1300px) {
        //     text-align:center; 
        //     margin-top: 48px;
        //     position: static !important;
        //     top: 0 !important;
        //     right: 0 !important;
        // }
    }

    &__text {
        display: flex;
        flex-direction: column;
        max-width: 640px;
        min-width: 280px;

        // @include breakpoint-up(medium) {
        //     padding: 120px 6px 120px 0px;
        // }

        @media(min-width: 1100px) {
            padding: 120px 6px 120px 0px;
        }

        article {
            opacity: 0.7;
            font-family: 'GoogleSansRegular';
            margin-top: 16px;
            margin-bottom: 32px;
            color: #14163A;
            font-size: 16px;
            letter-spacing: 0;
            line-height: 24px;

            @include breakpoint-up(medium) {
                font-size: 18px;
                letter-spacing: 0;
                line-height: 28px;
                width: 500px;
            }
        }
    }
}
