@import 'config';
@import 'header';
@import 'footer';
@import 'button';
@import 'pagination';
@import 'include-media';
@import 'media';

.hero {
    background-color: $primary-color;
    background-image: url(/dist/images/nis-fortress-ilustration/nis-ilustracija.svg);
   
    background-repeat: no-repeat;
    background-position: -10% calc(100% - 24px);
    width: 100%;
    min-width: 280px;
    height: 400px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    position: relative;
    color: set-color($primary-color);

    &__text {
        width: 84%;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    // @media(max-width: 1180px) {
    //     background-image: url(/dist/images/nis-fortress-ilustration/nis-ilustracija.svg);
    //     background-repeat: no-repeat, no-repeat;
    //     background-position: center;
    // }

    // @media(max-width: 930px) {
    //     background-image: url(/dist/images/nis-pattern-ilustration/nis-ilustracija-02.svg);
    //     background-repeat: no-repeat, no-repeat;
    //     background-position: center;
    // }

    // @media(max-width: 640px) {
    //     background-image: url(/dist/images/nis-pattern-ilustration/nis-ilustracija-02.svg);
    //     background-repeat: no-repeat, no-repeat;
    //     background-position: 0;
    // }

    h1 {
        text-align: center;
    }

    span {
        color: $primary-color-light;
    }
}

main {
    background-color: $ghost-white;
    width: 100%;
    min-width: 320px;
    margin: auto;

    .search {
        display: flex;
        justify-content: space-between;
        padding-top: 48px;
        padding-bottom: 48px;

        &__count {
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 20px;
        }

        img {
            width: 18px;
            height: 18px;
        }
    } 

    .companies-container {
        width: 100%;    
        display: grid;
        grid-gap: 30px;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media(max-width: 1300px) {
            grid-template-columns: 1fr 1fr 1fr;
            //padding: 3rem 1rem;
        }

        @media(max-width: 900px) {
            grid-template-columns: 1fr 1fr;
            //padding: 3rem 1rem;
        }

        @media(max-width: 630px) {
            grid-template-columns: 1fr;
            //padding: 3rem 1rem;
        }
    }

    .company-card {

        @include breakpoint-down(small) {
            width: 327px;
            height: 178px;
        }

        height: 322px;
        width: 262px;
        border-radius: 4px;
        background-color: $white;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);
        position: relative;
        display: flex;
        flex-direction: column;

        img {
            object-fit: cover;
        }

        .cover-image {
            height: 140px;
            width: 262px;

            @include breakpoint-down(small) {
                display: none;
            }
        }

        .company-info {
            padding: 24px 24px 20px 24px;
            display: flex;
            align-items: center;

            &__text {
                padding-left: 16px;
            }

            .logo-image {
                height: 60px;
                width: 60px;
                border-radius: 50%;
                border: 2px solid #EBEBEB;
                background-color: #FFFFFF;
                // position: absolute;
                // top: 96px;
                // left: 24px;
            }

            h4 {
                color: #14163A;
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 23px;
            }

            a {
                color: $primary-color-light;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 18px;
                text-decoration: none;
            }
        }

        .tag-container {
            padding: 0px 23px 0px 24px;
            display: flex;
            flex-wrap: wrap;
            row-gap: 4px;
            column-gap: 4px;

            .tag  {
                padding: 4px 6px 3px 6px;
                height: 23px;
                background-color: #F4F5F9;
                border-radius: 2px;
                color: #8B8B9F;
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 16px;
            }
        }
    }
}

.coworking {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
    position: relative;
    max-height: 1200px;

    @media(max-width: 1300px) {
        display: flex;
        flex-direction: column;
    }

    &__img {
        position: absolute;
        top: 165px;
        right: 0;
        z-index: 1;
        min-width: 280px;
        object-fit: contain; 
        max-width: 100%;
        height: auto;

        @media(max-width: 1300px) {
            text-align:center; 
            margin-top: 48px;
            position: static !important;
            top: 0 !important;
            right: 0 !important;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        max-width: 640px;
        min-width: 280px;

        article {
            opacity: 0.7;
            font-family: 'GoogleSansRegular';
            margin-top: 16px;
            margin-bottom: 32px;
            color: #14163A;
            font-size: 16px;
            letter-spacing: 0;
            line-height: 24px;
        }
    }
}
