@import 'config';

body {
    min-width: 280px;
}

header {
    background-color: $primary-color;
    display: flex;
    justify-content: flex-start;
    padding: 0.1rem;
}

.welcome {
    background-image: url(/dist/images/nis-fortress-ilustration/nis-ilustracija.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-color: $primary-color;
    color: set-color($primary-color);
    width: 100%;
    min-height: 380px;
    min-width: 280px;
    font-size: 2.2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;


    span {
        color: $primary-color-light;
    }
}

main {
    background-color: $ghost-white;
    width: 100%;
    min-width: 280px;

    .companies-container {
        width: 100%;
        min-width: 280px;
        padding: 96px 150px 0px 150px;
        display: grid;
        grid-gap: 30px;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media(max-width: 1400px) {
            grid-template-columns: 1fr 1fr 1fr;
            padding: 3rem 1rem;
        }

        @media(max-width: 900px) {
            grid-template-columns: 1fr 1fr;
            padding: 3rem 1rem;
        } 

        @media(max-width: 630px) {
            grid-template-columns: 1fr;
            padding: 3rem 1rem;
        }
    }

    .company-card {
        height: 322px;
        width: 262px;
        border-radius: 4px;
        background-color: $white;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.1);
        position: relative;

        img {
            object-fit: cover;
        }

        .cover-image {
            height: 140px;
            width: 262px;
        }

        .logo-image {
            height: 64px;
            width: 64px;
            border-radius: 50%;
            border: 2px solid #EBEBEB;
            background-color: #FFFFFF;
            position: absolute;
            top: 96px;
            left: 24px;
        }

        .company-info {
            padding-top: 28px;
            padding-left: 24px;
            padding-right: 24px;

            h2 {
                position: absolute;
                top: 172px;
                color: #14163A;
                font-size: 24px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 30px;
            }

            a {
                position:absolute;
                top: 206px;
                color: $primary-color-light;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 18px;
                text-decoration: none;
            }
        }

        .tag-container {
            position:absolute;
            top: 248px;
            padding: 0px 32px 0px 24px;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            row-gap: 4px;
            column-gap: 4px;

            .tag  {
                padding: 4px 6px 3px 6px;
                height: 23px;
                width: fit-content;
                background-color: #F4F5F9;
                border-radius: 2px;
                color: #8B8B9F;
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 16px;
            }
        }
    }

    .pagination {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 48px;
        padding-bottom: 96px;
        column-gap: 8px;

        .pagination-left {
            height: 28px;
            width: 28px;
            margin-right: 16px;
            border-radius: 50%;
            border: 1px solid $primary-color-light;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 10px;
                width: 6.15px;
            }
        }

        .pagination-right {
            height: 28px;
            width: 28px;
            margin-left: 16px;
            border-radius: 50%;
            border: 1px solid $primary-color-light;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 10px;
                width: 6.15px;
            }
        }

        .page {
            height: 28px;
            width: 28px;
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 14px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 17px;
            text-align: center;
            color: #5D6BF6;

            &.selected {
                color: $white;
                background-color: $primary-color-light;
                border-radius: 50%;
                border: 1px solid $primary-color-light;
            }
        }
    }
}

.coworking {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-self: center;

    h1 {
        font-size: 2.5em;
        padding-bottom: 1.2rem;
    }

    article {
        font-size: 1rem;
        margin-bottom: 1.5rem;
        text-align: justify;
    }

    img {
        max-width: 100%;
        margin: auto;
    }

    a {
        color: #FFFFFF;
        font-weight: bold;
        font-size: 0.8rem;
        border-radius: 4px;
        background-color: #5D6BF6;
        padding: 0.6rem;
    }
}

footer {
    background-image: url(/dist/images/symbols/symbols.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-color: $primary-color;
    padding: 1rem;
    width: 100%;
    min-width: 280px;
    height: 380px;
    position:relative;

    h1 {
        color: set-color($primary-color);
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .primary-button {
        color: #FFFFFF;
        font-weight: bold;
        font-size: 0.8rem;
        border-radius: 4px;
        background-color: #5D6BF6;
        padding: 0.6rem;
    }

    .contact {
        position: absolute;
        bottom: 20px;
        color: #FFFFFF;
        font-size: 0.9rem;

        display: flex;
        flex-direction: column-reverse;

        gap: 1rem;

        a {
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 20px;
        }

        p {
            opacity: 0.4;
            color: #FFFFFF;
            font-size: 0.9rem;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 20px;
        }
    }
}