@import 'config';
@import 'header';
@import 'footer';
@import 'button';
@import 'pagination';
@import 'media';
@import 'products_grid';
@import 'text_style';

body {
    background-color: $primary-color;
    background-image: url("/dist/images/symbols/symbols.svg");
    background-repeat: no-repeat;
    background-position: right top;
}

.hero {
    position: relative;
    height: 289px;
    min-width: 360px;
    color: set-color($primary-color);

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

main {
    background-color: $ghost-white;
    width: 100%;
    min-height: 351px;
    min-width: 360px;
    margin: auto;
}

.startup-content {
    padding-top: 96px;
}