@import "config";
@import "header";
@import "footer";
@import "button";
@import "companies_grid";
@import "pagination";
@import "text_style";

body {
    background-color: $primary-color;
    background-image: url("/dist/images/symbols/symbols.svg");
    background-repeat: no-repeat;
    background-position: right top;
}

.hero {
    position: relative;
    height: 369px;
    min-width: 360px;
    color: set-color($primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__text {
        max-width: 570px;
       
        &__separator {
            height: 4px;
            width: 60px;
            background-color: $primary-color-light;
            margin: 32px 0px 24px 0px;
        }
    }
}