@import "config";
@import "header";
@import "footer";
@import "button";

body {
    background-color: $primary-color;
    background-image: url("/dist/images/symbols/symbols.svg");
    background-repeat: no-repeat;
    background-position: right top;
    min-width: 360px;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 51px;
}

.hero {
    //position: relative;
    height: 369px;
    min-width: 360px;
    color: set-color($primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
  

    &__text {
        max-width: 570px;
       

        &__separator {
            height: 4px;
            width: 60px;
            background-color: $primary-color-light;
            margin: 32px 0px 24px 0px;
        }

        article {
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 24px;
        }
    }
}

.technologies {
    width: 100%;
    color: set-color($primary-color);

    h4 {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 30px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        column-gap: 16px;
        row-gap: 24px;
        padding-top: 32px;
        padding-bottom: 120px;

        @media (max-width: 1100px) {
            column-gap: 12px;
            row-gap: 16px;
        }

        @media (max-width: 600px) {
            column-gap: 8px;
            row-gap: 12px;
        }
    }
}

.technology-tag {
    display: flex;
    background-color: #2B2D4E;
    padding: 12px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;

    @media (max-width: 1100px) {
        padding: 8px;
    }

    @media (max-width: 600px) {
        padding: 6px;
    }

    svg {
        height: 28px;
        width: 28px;

        @media (max-width: 600px) {
            height: 20px;
            width: 20px;
        }
    }

    &__name {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 30px;
        margin-left: 12px;
        margin-right: 24px;

        @media (max-width: 1100px) {
            font-size: 18px;
            line-height: 25px;
        }

        @media (max-width: 600px) {
            font-size: 14px;
            line-height: 20px;
        }
    }

    &__count {
        font-size: 20px;
        letter-spacing: 0;
        line-height: 25px;

        @media (max-width: 1100px) {
            font-size: 16px;
            line-height: 20px;
        }

        @media (max-width: 600px) {
            font-size: 12px;
            line-height: 18px;
        }
    }
}