.technology-title {
    font-size: 40px;
    line-height: 51px;

    @media(max-width: 800px) {
        font-size: 34px;
        line-height: 46px;
    }
}

.hero-technology {
    position: relative;
    height: 361px;
    min-width: 360px;
    color: set-color($primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__text {
        max-width: 570px;
    }

    .hero-separator {
        height: 4px;
        width: 60px;
        background-color: $primary-color-light;
        margin: 20px 0px 24px 0px;
    }

    .font-primary {
        font-weight: 500;
    }
}